*.mocks.dart linguist-generated=true
*.freezed.dart linguist-generated=true
*.g.dart linguist-generated=true
*.gr.dart linguist-generated=true
pubspec.lock linguist-generated=true
Gemfile.lock linguist-generated=true
